.product-cate {
  height: 100%;
  &-left {
    flex: 0 0 85px;
    width: 85px;
    height: 100%;
    overflow-y: auto;
    background-color: bisque;

  }
  &-right {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    background-color: aquamarine;
  }
}