@import "./../../../style/util/index.less";
.product-cate {
  height: 100%;
  &-left {
    flex: 0 0 px2rem(85);
    width: px2rem(85);
    height: 100%;
    overflow-y: auto;
  }
  &-right {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    background-color: aquamarine;
  }
  &-top-level {
    height: px2rem(48);
    line-height: px2rem(48);
    .font2px(12);
    text-align: center;
    &.active {
      background: @fill-base;
    }
  }
}