@import "./../../../style/util/index.less";
.product-cate {
  height: 100%;
  &-left {
    flex: 0 0 px2rem(85);
    width: px2rem(85);
    height: 100%;
    overflow-y: auto;
  }
  &-right {
    flex: 1;
    height: 100%;
    padding: px2rem(10) px2rem(12);
    overflow-y: auto;
    background-color: @fill-base;
    overflow: hidden;
  }
  &-top-level {
    height: px2rem(48);
    line-height: px2rem(48);
    .font2px(12);
    text-align: center;
    &.active {
      background: @fill-base;
    }
  }
  &-second {
    margin-right: -1 * px2rem(12);
    &-item {
      padding: px2rem(10) 0;
      font-size: @font-size-heading;
    }    
  }
  &-third {
    margin: 0 px2rem(8) px2rem(8) 0;
  }  
}