@import "../../style/util/index.less";
.product-item {
  // background-color: #ccc;
  &-img {
    height: px2rem(178);
    overflow: hidden;
    img {
      height: px2rem(178);
      // width: 100%;
    }
  }
  &-bottom {
    padding: px2rem(8) px2rem(12); 
    text-align: left;

  }
  &-title {
    width: 100%;
    height: px2rem(34);
    .ellipsis-line();
    color: @color-text-paragraph;
  }
  &-sub {
    .clearfix();
  }
  &-sales {
    float: right;
    color: @color-text-caption;
    .font2px(@font-size-caption-sm);
    vertical-align: middle;
  }
  &-price {
    float: left;
    color: @brand-error;
    .font2px(@font-size-caption);
    vertical-align: middle;
    &-icon {
      .font2px(@font-size-icontext);
    }
  }
}