@prefix:bottom-nav-;
.bottom-nav {
  &-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 999;
    &-content {
      text-align: center;
    }
  }
  &-title {
    color: #333;
    &.active {
      color:#f60;
    }
  }

}